/* * {
	font-family: 'Roboto';
} */

#background {
	position: relative;
	min-height: 100vh;
	background-position: center;
	background-attachment: fixed;
}

#background::after {
	content: "";
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	background-image: url('/static/images/planties-bg.jpg');
	background-size: cover;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
