{% extends 'base.html' %}

{% block styling %}<link rel="stylesheet" href="/static/allspecimens.css">{% endblock styling %}

{% block title%}{% endblock title %}


{% block content %}

		
<div class="row">

	<!-- Specimens Column -->
		<div class="col-lg-9 my-3">
			<div class="px-3">
				<div class="row mb-2 pt-2">
					<div class="col">
						<h3 class="spec-coll-title">Specimens</h3>
					</div>
					{% if current_user.is_authenticated %}
					<div class="col p-0 text-right">
						<a class="btn btn-primary text-center badge badge-primary" href="/specimen/new/image">Create<br/>Specimen</a>
					</div>
					{% endif %}
				</div>
				<div class="row">
					<div class="card-columns">
					{% for specimen in specimens %}
					<div class="card d-inline-block bg-light rounded px-1 pb-1 mt-1 mb-2">
						<div class="rounded text-center p-1">
							<a class="specimenName" href="/specimen/{{specimen.id}}">
								<p class="lead">{{specimen.taxonomy.common_name}}</p>
								<img class="img-fluid rounded border border-dark" src="{{specimen.link}}" alt="">
							</a>
						</div>  
					</div>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<!-- Collections column -->
		<div class="col-lg-3 my-3">
			<div class="px-3">
				<div class="row mb-1 pt-2">
						<div class="col">
								<h3 class="spec-coll-title">Collections</h3>
						</div>
						{% if current_user.is_authenticated %}
						<div class="col p-0 text-right">
								<a class="btn btn-primary text-center badge badge-primary" href="/collection/new">Create<br/>Collection</a>
						</div>
						{% endif %}
				</div>

				<div class="row">
				{% if collections %}
					{% for collection in collections %}
					<div class="px-0 pb-0 mt-2 mb-2 bg-light rounded">
						<a class="collectionName" href="/collection/{{collection.id}}">
							<div class="card">
								{% if collection.image %}
								<img class="card-img-top" src="{{collection.image}}" alt="" />
								{% else %}
								<img class="card-img-top" src="../../static/images/collection-placeholder.JPG" alt="" />
								{% endif %}
								<div class="card-body p-2 text-center">
									<h5 class="card-title m-0">{{collection.name}}</h5>
									<p class="card-text m-0">No. of specimens:</p>
								</div>
							</div>
						</a>
					</div> 
					{% endfor %}
				</div>
				{% endif %}
			</div>
		</div>

	</div>



{% endblock content %}
