{% extends 'base.html' %}

{% block title%}{% endblock title %}


{% block content %}


{% if step == "image" %}
<div class="container">
	<div class="row justify-content-center align-items-center mt-3">
		<div class="col-xs-10 col-sm-8 col-md-6 col-lg-4 border rounded p-4 bg-light">
			<h4 class="text-center mb-4">Upload an image of your specimen!</h4>
			<hr/>
			<form method="POST" enctype="multipart/form-data">
				{{ form.hidden_tag() }}
				{% for field in form if field.widget.input_type != 'hidden' %}
				<div class="form-group">
					{{field(class_="form-control-file")}}
					{% for err in field.errors %}
						<small class="form-text text-danger">
							{{err}}
						</small>
						{% endfor %}
				</div>
				{% endfor %}
				<button class="btn btn-primary btn-block mt-4">Next Step</button>
			</form>
		</div>
	</div>
</div>

{% elif step == "taxonomy" %}
<div class="container">
	<div class="row justify-content-center align-items-center mt-3">
		<div class="col-xs-10 col-sm-8 col-md-6 col-lg-4 border rounded p-4 bg-light">
			<h4 class="text-center mb-4">Enter the name and taxonomy information of your specimen!</h4>
			<hr/>
			<form method="POST">
				{{ form.hidden_tag() }}
				{% for field in form if field.widget.input_type != 'hidden' %}
				<div class="form-group">
					{{field(class_="form-control", placeholder = field.label.text)}}
					{% for err in field.errors %}
						<small class="form-text text-danger">
							{{err}}
						</small>
						{% endfor %}
				</div>
				{% endfor %}
				<button class="btn btn-primary btn-block mt-4">Next Step</button>
			</form>
		</div>
	</div>
</div>

<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/taxonomy.js"></script>

{% elif step == "collection_details" %}
<div class="container">
	<div class="row justify-content-center align-items-center mt-3">
		<div class="col-xs-10 col-sm-8 col-md-6 col-lg-4 border rounded p-4 bg-light">
			<h4 class="text-center mb-4">Additional collection details</h4>
			<hr/>
			<form method="POST">
				{{ form.hidden_tag() }}
				{% for field in form if field.widget.input_type != 'hidden' %}
				<div class="form-group">
					{{field(class_="form-control", placeholder=field.label.text)}}
					{% for err in field.errors %}
						<small class="form-text text-danger">
							{{err}}
						</small>
						{% endfor %}
				</div>
				{% endfor %}
				<button class="btn btn-primary btn-block mt-4">View your specimen!</button>
			</form>

		</div>
	</div>
</div>
{% endif %}

{% endblock content %}